main{
    max-width: 737px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    padding-bottom: 5.3125rem;
}
#searchForm{
    display:flex;
}
#submitForm{
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.icon {
    display: inline-block;
    margin-left: 0.5rem;
  }
  
  [aria-pressed=true] .icon {
    transform: rotate(180deg);
  } 


  #fontMenu{
      display:none;
  }

#pronounciation{
    color:rgb(162, 107, 235);
}
.meaningHeader{
    color:grey;
}
.headerAndHori{
    display:flex;
    gap:16px;
}

hr {
    flex: 1;
    border: 1px solid hsl(0, 0%, 86%);
  }

  input[type="text"] {
    padding: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    color:black;
    background-color: hsl(0, 0%, 86%);
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
  }



  /* Dark Mode styles */
body.dark-theme {
    color: #eee;
    background: #121212;
  }
  body.dark-theme a {
    color: #809fff;
  }