main{
    max-width: 737px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    padding-bottom: 5.3125rem;
}

header{
  display:flex;
  justify-content: space-between;
  margin-top:3.25rem;
  margin-bottom: 3.25rem;
}
#searchForm{
    display:flex;
}
#submitForm{
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.icon {
    display: inline-block;
    margin-left: 0.5rem;
  }
  
  [aria-pressed=true] .icon {
    transform: rotate(180deg);
  } 


  #fontMenu{
      display:none;
  }

  #wordHeader{
    font-size: 4rem;
  }

#pronounciation{
    color:rgb(162, 107, 235);
   font-size: 1.5rem;
}
.meaningHeader{
    color:grey;
    font-size:1.25rem;
}
.headerAndHori{
    display:flex;
    gap:16px;
}

#partHeader{
  font-size:1.5rem;
  font-style: italic;
}

hr {
    flex: 1;
    height: 0px;
    border: 1px solid hsl(0, 0%, 86%);
  }

  #searchInput{
    padding: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    color:black;
    background-color: rgba(244, 244, 244);
    border:none;
    border-radius: 8px;
    padding:1.125rem;
  }

  #verbMeaningActual li,
  #nounMeaningActual li{
    font-size:1.125rem;
  }
 

  
  /* Dark Mode styles */
body.dark-theme {
   transition: 0.5s;
    color: #eee;
    background: #121212;
  }


  .dark-theme #searchInput{
    background-color: rgb(53, 52, 52);
    color:white;
  }

